{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" style="max-width: 92%">
        <h1 class="mb-5">Gestion des instances minecraft</h1>
        <div class="row mb-4">
            <div class="col-6">
                <input type="text" class="form-control" name="idMod" id="idMod" placeholder="id mod" aria-label="idMod" aria-describedby="id mod">
            </div>
            <div class="col-6">
                <button class="btn btn-primary col-12 mb-5" onclick="ShowTable()">Valider</button>
            </div>
        </div>
        <div id="table" class="mb-4"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function ShowTable()
        {
            let idMod = $('#idMod').val();

            $.ajax({
                type: "POST",
                url: '{{ path('show_modpack_list') }}',
                dataType: 'html',
                data: {
                    idMod: idMod
                },
                success: function(retour) {
                    document.getElementById('table').innerHTML = retour;
                },
            });
        }

    </script>
{% endblock %}